<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComponentDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA95A75D1DB661EF00BE0B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA95A7761DB661EF00BE0B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA95A7811DB661EF00BE0B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
